[Unit]
Description= Reflector mirrorlist sorter

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --protocol https --latest 30 --number 20 --sort rate --save /home/serv/blkbox/resources/pacman.d/mirrorlist
